:root {
    --bg-home:#f7f8f8;
    --white: #ffffff;
    --black: #000000;
    --text: #111827;
    --gray-ligth: #A2AAB1;
    --primary-color: #39B2AE;
    --fucsia: #D02E6E;
    --yellow: #FEE149;
    --gray: #55575A;
    --blue: #111827;
    --color-input: #F9FAFB
    --sm: 1.4em;
    --md: 1.6em;
    --lg: 1.8em;
    --bg: 2.4em;
    --PrimaryColorP: #4f5457;
    --secundaryColorP: #969696;
    --gray-product:#e5e7eb;
    --gray-with-transparency: rgba(189, 204, 212, 0.1);
}