.dZcyuj:nth-child(3){
    border-radius: 0 6px 0 0;
}

.kzxGrj:nth-child(1){
    background-color: #5f3bd9 !important;
    border-radius: 6px 0 0 0;
}

.rdt_TableCell{
    background-color: transparent !important;
}